@import '../../styles/variaveis';

.homeMain {
  @include center(center, center, calc(100vh - 80px), 100%);
  // @include colors();
  background-color: var(--fundoLight);
  color: var(--colorLight);

  padding: 0 10%;
  overflow: hidden;
  gap: 10em;
  // margin-left: 5em;

  .cols {
    // @include center(flex-start, center, 50%, 100%);
    // flex-direction: column;
    width: 50%;
    // left: 150px;

    .topLine {
      display: block;
      position: relative;
      font-size: 3em;
      letter-spacing: 5px;
      color: var(--colorFont);
    }
  
    .topLine::after {
      border-radius: 1em;
      position: absolute;
      content: '';
      height: 4px;
      width: 45px;
      bottom: 10px;
      background-color: var(--colorFont2);
    }
  
    h1 {
      // @include center(center, center, calc(100% - 80px), 100%);
      display: block;
      font-size: 5em;
      font-weight: 900;
      color: var(--colorFont);
      // position: absolute;
      // margin-left: 50px;
  
      .multiText {
        color: var(--colorFont2);
        text-transform: capitalize;
        font-size: 1em;
      }
  
    }
  
    p {
      display: block;
      width: 90%;
      margin-bottom: 1em;
      font-size: 1.2em;
      color: var(--colorFont);
    }
  
    .btns {
      display: flex;
      width: 100%;
      position: relative;
      // left: 150px;
      gap: 1em;
  
      button {
        outline: none;
        border: none;
        border-radius: 1em;
        cursor: pointer;
        font-size: 25px;
        font-weight: 400;
        color: var(--colorLight);
        background-color: var(--colorFont);
        padding: 8px;
        // margin: 40px 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgb(0,0,0, 0.4);
      }
  
      button:hover {
        background-color: var(--colorFont2);
      }
    }
  }


  .imgbox {
    @include center(center, center, calc(100vh - 80px), 100%);
    position: relative;
    width: 100%;
    height: 100%;

    margin-top: 40%;

    .imgProfile {
      position: relative;
      border-radius: 50%;
      height: 100%;
      // width: calc(120% - 80px);
      width: 100%;
      top: -100px;
      right: 5px;
      transform: rotateY(180deg);
      animation: animateProfile 4s linear infinite;
      margin-left: 30%;
      margin-top: 20%;
    }
  
    @keyframes animateProfile {
      50% {
        right: 30px;
        top: -90px;
      }
    }

    .imgBackground {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-35deg);
      width: 160%;
      // max-width: 900px;
      filter: saturate(200%);
      animation:  animateBackground 4s linear infinite;
    }

    @keyframes animateBackground {
      50% {
        right: 49%;
        top: 51%;
        width: 155%;
      }
    }
  }

}

.cols0 {
  z-index: 5;
}

.homeMain::before {
  position: absolute;
  content: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg');
  height: 200px;
  width: 200px;
  // border-radius: 50%;
  left: -32px;
  top: 55%;
  // background: linear-gradient(45deg, var(--colorFont2), var(--color-pink));
  animation: spin infinite 20s linear;
  // animation: objectOne 6s, linear infinite;s
}

.homeMain::after {
  position: absolute;
  content: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg');
  height: 90px;
  width: 90px;
  // border-radius: 50%;
  left: 35%;
  top: 12%;
  // background: linear-gradient(43deg, var(--colorFont2), var(--color-pink));
  animation: objectTwo 6s, linear infinite;
  // animation: animateJs 4s linear infinite;
}

@keyframes objectTwo {
  50% {
    left: -13%;
    top: 41%;
  }
}

@keyframes objectOne {
  50% {
    left: 35%;
    top: 10%;
  }
}

// .homeMain::after {
//   position: absolute;
//   content: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg');
//   // height: 90px;
//   // width: 90px;
//   // // border-radius: 50%;
//   // left: 35%;
//   // top: 12%;
//   // background: linear-gradient(43deg, var(--colorFont2), var(--color-pink));
//   // animation: objectTwo 6s, linear infinite;
//   // animation: animateJs 4s linear infinite;
// }

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
